.WebContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Main_sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  height: 100%;
  align-items: flex-start;
  padding: 10px, 0px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0px 15px;
  overflow: hidden;
}

.Main {
  text-align: center;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#topTitleBar {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#topTitleBar_TextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#topTitleBar_TextContainer > p {
  color: var(--primary);
  font-family: "Gaegu", cursive;
}
#topTitleBar_TextContainer > p:first-child {
  font-size: 40px;
  font-weight: 700;
}

#topTitleBar_TextContainer > p:nth-child(2) {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}
#topTitleBar_TextContainer > p:nth-child(3) {
  font-size: 24px;
  font-weight: 400;
}
#topTitleBar_TextContainer > p:nth-child(4) {
  font-size: 20px;
  font-weight: 500;
}
#topTitleBar_TextContainer > p:nth-child(5) {
  font-size: 26px;
  font-weight: 500;
}

.WeatherIcons {
  object-fit: contain;
  width: 250px;
  height: auto;
}

.Main_AppContainer {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fill, 200px);
}
