.SquareContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--highlight);
  color: var(--secondary);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.SquareContainer:hover {
  box-shadow: 5px 5px;
}

.SquareContainer:active {
  box-shadow: 3px 3px;
}
