.sidebarItem_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0px;
  cursor: pointer;
}

.sidebarItem_icon {
  /* Same as sidebarInitWidth value */
  width: 50px;
  align-self: center;
}
.sidebar_item_label {
  width: 100px;
  margin-left: 10px;
}
