.App {
  text-align: center;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.WeatherIcons {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

#topTitleBar {
  padding: 10px;
  margin: 10px;
  color: var(--primary);
  border: 2px solid aqua;
}
